.shadowed-0 {
    box-shadow: none !important;
}

.shadowed-1 {
    box-shadow: 1px 1px 5px $global-shadow-color;
}

.shadowed-2 {
    box-shadow: 3px 3px 7px $global-shadow-color;
}

.shadowed-3 {
    box-shadow: 4px 4px 9px $global-shadow-color;
}

.shadowed-4 {
    box-shadow: 6px 6px 11px $global-shadow-color;
}

.shadowed-5 {
    box-shadow: 8px 8px 13px $global-shadow-color;
}

.shadowed-6 {
    box-shadow: 10px 10px 15px $global-shadow-color;
}